body {
    background-color: darkslategrey;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#calculator {
    width: 600px;
    max-width: 100%;
    height: auto;
    background-color: ivory;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result {
    height: 120px;
}
#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output {
    text-align: right;
    height: 55px;
    margin: 10px 20px;
    font-size: 30px;
    background-color: ivory;
    color: black;
}
#keyboard {
    height: 400px;
}
.operator, .number, .empty {
    width: 60px;
    height: 60px;
    margin: 20px;
    float: left;
    border-radius: 30%;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
}
.number, .empty {
    background-color: ivory;
}
.number, .operator {
    cursor: pointer;
}
.operator:active, .number:active {
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}
button:nth-child(5) {
    background-color: tomato;
}
button:nth-child(6) {
    background-color: tomato;
}
button:nth-child(10) {
    font-size: 25px;
}
button:nth-child(11) {
    font-size: 30px;
}
button:nth-child(12) {
    font-size: 25px;
}
button:nth-child(16) {
    font-size: 25px;
}
button:nth-child(21) {
    font-size: 30px;
}
button:nth-child(24) {
    font-size: 30px;
    background-color: lightblue;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
}